.DS_Store

extracted_headers
godot
bin

plugin/*/lib
plugin/Pods/

*.a
*.o
*.d
*.hmap
*.yaml
*.dia
*.xcbuild
*.db
*.LinkFileList
*BuildDescriptionCacheIndex*
*.xcuserstate
*.dblite
*ios*.zip
*.tar.xz
